<div class="container-fluid">
  <div class="jumbotron">
    <h1> You have logged in G&C using you Google account</h1>
    <div class="row">
      <h3>Wellcome: {{userLogged.name}}</h3>
    </div>
    <button (click)='getUserLogged()'>THIS iS USER LOG</button>
    <a href="https://newloggerback.herokuapp.com/login/google" (click)='getSingleLoggin()'>THIS iS SINGLE LOG</a>

  </div>
</div>