<nav class="navbar narbar-dark bg-dark">
  <div class="container">   
    <a class="navbar-brand" href="#">Escuelamaritima</a>
  </div>
</nav>

<div class="contanier p-4">
  <app-users></app-users>
  <app-user-logged></app-user-logged>
</div>