<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
          <div class="form-group">
            <input 
              type="hidden"
              name="_id"
              class="form-control"
              placeholder="Enter name"
              [(ngModel)]="userService.selectedUser._id"
            />
            <input 
              type="text"
              name="name"
              class="form-control"
              placeholder="Enter name"
              [(ngModel)]="userService.selectedUser.name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="emails"
              class="form-control"
              placeholder="Enter emails"
              [(ngModel)]="userService.selectedUser.emails"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="password"
              class="form-control"
              placeholder="Enter password"
              [(ngModel)]="userService.selectedUser.password"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="cargo"
              class="form-control"
              placeholder="Enter cargo"
              [(ngModel)]="userService.selectedUser.cargo"
            />
          </div>
          <button class="btn btn-primary m-2">Save</button>
          <button class="btn btn-warning" (click)="resetForm(userForm)">Clean</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-srtiped">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of userService.users">
          <td>{{ user.name }}</td>
          <td>{{ user.emails }}</td>
          <td>{{ user.password }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="editUser(user)">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-warning btn-sm" (click)="deleteUser(user._id)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
